{% if site.data.education %}
<section class="section education-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Educación</h2>

    {% for education in site.data.education %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ education.name }}</h3>
                <div class="time">{{ education.time }}</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->

        <div class="details">
            <div class="company">{{ education.school }}</div>
            {% if education.details %}
            <p>{{ education.details }}</p>
            {% endif %}
        </div>
        <!--//details-->

        {% if forloop.last %}{% else %}<br>{% endif %}
    </div>
    <!--//item-->
    {% endfor %}
</section>
<!--//section-->
{% endif %}