{% if site.data.first %}
<section class="section first-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Education</h2>

{% for first in site.data.first %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ first.name }}</h3>
        <div class="time">{{ first.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ first.role }}</div>

    </div><!--//meta-->

    {% if first.details %}
    <div class="details">
      <p>{{ first.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
