{% if site.data.experience %}
<section class="section experience-section">
    <h2 class="section-title"><i class="fa fa-eye"></i>Experiencia profesional</h2>

    {% for experience in site.data.experience %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                {% if experience.link %}
                <div class="experience-lab"><a href="{{ experience.link }}">{{ experience.title }}</a></div>
                {% else %}
                <h3 class="job-title">{{ experience.title }}</h3>
                {% endif %}
                <div class="time">{{ experience.time }}</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->

        {% if experience.details %}
        <div class="details">
            <div class="company">{{ experience.company }} - {{ experience.address }}</div>
            <p>{{ experience.details }}</p>
        </div>
        <!--//details-->
        {% endif %}

        {% if forloop.last %}{% else %}<br>{% endif %}
    </div>
    <!--//item-->
    {% endfor %}
</section>
<!--//section-->
{% endif %}