{% if site.data.projects %}
<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-tasks"></i>iGEM Competition Experience</h2>

  {% for intro in site.data.projects %}
  <div class="intro">{{ intro.description }}</div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">
    <div class="meta">

      <div class="upper-row">
        <h3 class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></h3>
        <div class="time">{{ project.time }}</div>
      </div><!--//upper-row-->

      <div class="location">{{ project.location }}</div>

    </div><!--//meta-->

      {% if project.tagline %}
        <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}
        
  </div><!--//item-->

  {% endfor %}

</section><!--//section-->
{% endif %}
